body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #1db954;
    margin-top: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 40px;
}

.song-card {
    width: 200px;
    background-color: #181818;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.3s, background 0.3s;
}

.song-card:hover {
    background-color: #282828;
    transform: scale(1.05);
}

.song-card img {
    width: 100%;
    border-radius: 10px;
}

button {
    background-color: #1db954;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #1ed760;
}

#player-box {
    background-color: #181818;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #1db954;
}
